@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles.css or your global CSS file */
.fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  